#content {
  margin: 15px 30px 15px 30px;
}

.run-grid-controls-container {
  text-align: center;
  margin: 15px;
}

.run-grid-controls {
  margin: 0% .25% 0% .25%;
  padding: 0% 5% 0% 5%;
  width: 30%;
}


.grid-header {
  text-align: center;
}
